.header {
	grid-area: h;
	background: #eaeaea;
	position: relative;
}

.logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 60px;
	background: var(--gray-200);
	cursor: pointer;
	transition: var(--transition-fast);

}
.logo:hover {
	background: var(--gray-300);
}
.logo:hover img {
	transform: scale(1.15);
}
.image {
	pointer-events: none;
	transition: inherit;
}
