.header {
	grid-area: h;
	background: #e1e1e1;
	position: relative;
}

.logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 60px;
	background: #d2d2d2;
	cursor: pointer;
	transition: var(--transition-fast);
}
.logo:hover {
	background: var(--color-primary-extra-light);
}
.logo:hover img {
	transform: scale(1.15);
}
.image {
	transition: inherit;
}