.sidebar {
	grid-area: s;
	background: #f1f1f1;
	width: var(--layout-sidebar-width);
}
.items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: .75rem;
	padding:.5rem 0;
}
.item {
	list-style: none;
	display: block;
	width: auto;
	text-align: end;
	position: relative;
}

.link {
	text-decoration: none;
	padding: .5rem;
	transition: var(--transition-fast);
	border-radius: .15rem;
	color: var(--color-lighter);
	position: relative;
	min-width: 8rem;
	display: block;
	text-align: left;
}
.link:is(:hover) {
	background: rgba(0,0,0,0.03);
}
.link:is(.active) {
	color: var(--color-primary);

}
.active {
	color: var(--color-primary);
}

